{{> header }}
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Acerca de</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi minus ducimus expedita tenetur recusandae excepturi atque voluptas, consectetur inventore. Hic possimus harum voluptas eaque excepturi cumque animi qui ex! Tempora?
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/001.png" class="img-thumbnail" />
        </div>

    </div>

    {{> footer }}